#faqName{
	margin-top: 5px; border-bottom: 3px solid #e4007f!important; padding-bottom: 5px; width: 100%;
}
#faqHeader{
	margin-top: 10px; height: 42px; border-bottom: 1px solid gray;
}
.question{
	    float: left;
	    width: 42%;
	    margin-left: 50px;
	    font-size: 20px;
	    font-weight: 700;
}
.category{
	width: 34%; float: left; margin-left: 58px; font-size: 17px; font-weight: 500; 
}
.title{
	width: 35%; float: left; font-size: 17px; font-weight: 500;
}
.panel{
	clear: both;
    margin-left: 40px; height: 100px; background-color: #e7e7e7; border-top: 5px solid #a7a7a7; width: 95%;margin: 34px auto 0px;	
}
.contentFont{
	font-size: 17px;
    font-weight: 500;
    color: black;
    margin-top: 20px; margin-left: 23px;
}

.faqDataZoon:not(:first-child){
	padding-top: 30px;
}

